node-red-watson-mercado-libre
[{"id":"2fc04c13.861b04","type":"debug","z":"9d9ddf4b.03e578","name":"","active":true,"console":"false","complete":"payload.questions[0].text","x":570,"y":100,"wires":[]},{"id":"d37536f4.d394a8","type":"inject","z":"9d9ddf4b.03e578","name":"Access Token","topic":"","payload":"APP_USR-6330419848385122-070523-d37399294754b3bb056de1432bb6cfb6__G_J__-263147151","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":40,"wires":[["fbd16cc4.b72fb","c1a97c83.97cc98"]]},{"id":"fbd16cc4.b72fb","type":"change","z":"9d9ddf4b.03e578","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":100,"wires":[["538c8eb6.94dc58"]]},{"id":"538c8eb6.94dc58","type":"http request","z":"9d9ddf4b.03e578","name":"","method":"GET","ret":"obj","url":"https://api.mercadolibre.com/questions/search?item_id=MLA673313604&access_token={{{msg.token}}}","tls":"","x":330,"y":40,"wires":[["2fc04c13.861b04","9078fa12.fc7e88","57c880a3.24a628"]]},{"id":"efdb58ce.5d7068","type":"debug","z":"9d9ddf4b.03e578","name":"","active":false,"console":"false","complete":"payload","x":650,"y":200,"wires":[]},{"id":"e065fb6.a6a6488","type":"watson-conversation-v1","z":"9d9ddf4b.03e578","name":"Watson Conversation","workspaceid":"dfe2c45c-b0c3-461d-a6a3-f956aad8026d","multiuser":false,"context":true,"default-endpoint":false,"service-endpoint":"","x":360,"y":200,"wires":[["51f6c534.02346c"]]},{"id":"9078fa12.fc7e88","type":"function","z":"9d9ddf4b.03e578","name":"Pre processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.payload.questions[0].text;\nmsg.payload = msg.mydata.messagein;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":160,"y":180,"wires":[["e065fb6.a6a6488"]]},{"id":"51f6c534.02346c","type":"function","z":"9d9ddf4b.03e578","name":"Post processing","func":"// declaração de variáveis\nvar newmsg = msg;\nvar text_array = [{}];\n\n// o chatfuel has limit of text size\n// this array can split in different messages\n\nfor(var i = 0; i < msg.payload.output.text.length;i++){\n    text_array[i]={text:msg.payload.output.text[i]};\n    node.log(\"text array : \"+JSON.stringify(text_array[i])) ;\n}\n\n// handling the image url to add in the message return\nif (msg.payload.output.img_url !== null){\n    var attimg = {};\n    \n    attimg = {\n      attachment: {\n        type: \"image\",\n        payload: {\n          url: msg.payload.output.img_url\n        }\n      }\n    }\n\n    \n    node.log(\"img att: \"+JSON.stringify(attimg));\n}\n\n    \ntext_array.push(attimg);\n\nnewmsg.payload.messages = text_array;\n          \nreturn newmsg;\n\n/****************************************\n * msg example comming from conversation dialog, \n * splited in 3 and with image\n * Ricardo Kubo : nov/2016\n *\n {\n  \"output\": {\n    \"text\": [\n      \"A National Retail Federation (NRF) é a maior associacao de varejo nos EUA e anualmente faz o maior evento de varejo mundial em Nova Iorque. Este evento ocorre sempre em janeiro e é popularmente conhecido como NRF (http://nrfbigshow.nrf.com/) .\",\n      \"Se não conhece, recomendo muito ir uma vez, além de centenas de palestras com varejistas do mundo inteiro, tem uma feira enorme com fornecedores de soluções que é muito bom para ficar antenado com tendências.Em 2016 foram mais de 33000 atendentes e com mais de 3200 varejistas representados. \",\n      \"Se quiser saber mais como foi em 2016, veja meus posts do linkedin: https://www.linkedin.com/pulse/nrf-2016-primeiro-dia-ricardo-kubo?trk=mp-author-card\"\n    ],\n    \"img_url\": \"https://pbs.twimg.com/media/CZAVX4mWUAAqrR0.jpg\"\n  }\n}\n*************************************/\n\n/********************************************************\n * chatfuel expected json example\n * Ricardo Kubo : nov/2016\nmsg.payload = {\n  messages: [\n    {\"text\": \"Welcome to our store!\"},\n    {\"text\": \"segunda linha\"},\n      {\n      attachment: {\n        type: \"image\",\n        payload: {\n          url: \"https://pbs.twimg.com/profile_images/665334336284004354/qFdaTsJ7.jpg\"\n        }\n      }\n    },\n    {\n      attachment: {\n        type: \"video\",\n        payload: {\n          url: \"https://www.youtube.com/watch?v=vxuioqr9fXE\"\n        }\n      }\n    }\n  ]\n};\n\nreturn msg;\n\n*/\n","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["efdb58ce.5d7068","3b145578.f4e6a2"]]},{"id":"c1a97c83.97cc98","type":"debug","z":"9d9ddf4b.03e578","name":"Access Token","active":false,"console":"false","complete":"payload","x":620,"y":20,"wires":[]},{"id":"3b145578.f4e6a2","type":"debug","z":"9d9ddf4b.03e578","name":"","active":true,"console":"false","complete":"payload.output.text[0]","x":600,"y":260,"wires":[]},{"id":"57c880a3.24a628","type":"debug","z":"9d9ddf4b.03e578","name":"","active":false,"console":"false","complete":"payload","x":630,"y":60,"wires":[]}]